In [5]:
import sqlite3
import pandas as pd
from datetime import datetime

In [25]:
conn = sqlite3.connect('./test.db')
cur = conn.cursor()

sql = 'select * from test where 기준시간 = "2020년 12월 22일 00시"'
cur.execute(sql)
rows = cur.fetchall()

cur.close()
conn.close()

In [26]:
rows

[(0,
  '2020년 12월 22일 00시',
  1,
  2361,
  '검역',
  1658,
  702,
  0,
  18,
  '-',
  '2020-12-22 14:41:34.444'),
 (1,
  '2020년 12월 22일 00시',
  0,
  271,
  '제주',
  103,
  168,
  19,
  0,
  '40.40',
  '2020-12-22 14:41:34.444'),
 (2,
  '2020년 12월 22일 00시',
  3,
  1095,
  '경남',
  768,
  324,
  18,
  0,
  '32.58',
  '2020-12-22 14:41:34.443'),
 (3,
  '2020년 12월 22일 00시',
  61,
  2094,
  '경북',
  1721,
  312,
  58,
  1,
  '78.65',
  '2020-12-22 14:41:34.443'),
 (4,
  '2020년 12월 22일 00시',
  5,
  513,
  '전남',
  425,
  83,
  4,
  1,
  '27.51',
  '2020-12-22 14:41:34.443'),
 (5,
  '2020년 12월 22일 00시',
  7,
  692,
  '전북',
  452,
  233,
  4,
  0,
  '38.08',
  '2020-12-22 14:41:34.443'),
 (6,
  '2020년 12월 22일 00시',
  19,
  1305,
  '충남',
  974,
  312,
  15,
  2,
  '61.49',
  '2020-12-22 14:41:34.443'),
 (7,
  '2020년 12월 22일 00시',
  15,
  834,
  '충북',
  441,
  378,
  30,
  1,
  '52.14',
  '2020-12-22 14:41:34.443'),
 (8,
  '2020년 12월 22일 00시',
  13,
  999,
  '강원',
  709,
  277,
  23,
  0,
  '64.85',
  '2020-12-22 14:41:34.442'),
 (9,
  '2020년 12월 22일 00시',
  181,
  12152,
  '경기',
  8608,
  3363,
  193,
  13,
  '91.71',
  '2020-12-22 14:41:34.442'),
 (10,
  '2020년 12월 22일 00시',
  0,
  130,
  '세종',
  122,
  8,
  1,
  0,
  '37.98',
  '2020-12-22 14:41:34.442'),
 (11,
  '2020년 12월 22일 00시',
  17,
  568,
  '울산',
  299,
  252,
  6,
  0,
  '49.52',
  '2020-12-22 14:41:34.442'),
 (12,
  '2020년 12월 22일 00시',
  6,
  708,
  '대전',
  577,
  125,
  9,
  0,
  '48.03',
  '2020-12-22 14:41:34.442'),
 (13,
  '2020년 12월 22일 00시',
  3,
  905,
  '광주',
  755,
  147,
  26,
  0,
  '62.13',
  '2020-12-22 14:41:34.442'),
 (14,
  '2020년 12월 22일 00시',
  19,
  2381,
  '인천',
  1617,
  745,
  44,
  1,
  '80.54',
  '2020-12-22 14:41:34.441'),
 (15,
  '2020년 12월 22일 00시',
  200,
  7557,
  '대구',
  7098,
  259,
  39,
  0,
  '310.16',
  '2020-12-22 14:41:34.441'),
 (16,
  '2020년 12월 22일 00시',
  28,
  1539,
  '부산',
  1039,
  472,
  26,
  0,
  '45.11',
  '2020-12-22 14:41:34.441'),
 (17,
  '2020년 12월 22일 00시',
  144,
  15356,
  '서울',
  8562,
  6650,
  309,
  8,
  '157.76',
  '2020-12-22 14:41:34.441'),
 (18,
  '2020년 12월 22일 00시',
  722,
  51460,
  '합계',
  35928,
  14810,
  824,
  45,
  '99.25',
  '2020-12-22 14:41:34.441'),
 (19,
  '2020년 12월 22일 00시',
  1,
  2361,
  '검역',
  1658,
  702,
  0,
  18,
  '-',
  '2020-12-22 09:38:32.207'),
 (20,
  '2020년 12월 22일 00시',
  0,
  271,
  '제주',
  103,
  168,
  19,
  0,
  '40.40',
  '2020-12-22 09:38:32.207'),
 (21,
  '2020년 12월 22일 00시',
  3,
  1095,
  '경남',
  768,
  324,
  18,
  0,
  '32.58',
  '2020-12-22 09:38:32.207'),
 (22,
  '2020년 12월 22일 00시',
  61,
  2094,
  '경북',
  1721,
  312,
  58,
  1,
  '78.65',
  '2020-12-22 09:38:32.207'),
 (23,
  '2020년 12월 22일 00시',
  5,
  513,
  '전남',
  425,
  83,
  4,
  1,
  '27.51',
  '2020-12-22 09:38:32.206'),
 (24,
  '2020년 12월 22일 00시',
  7,
  692,
  '전북',
  452,
  233,
  4,
  0,
  '38.08',
  '2020-12-22 09:38:32.206'),
 (25,
  '2020년 12월 22일 00시',
  19,
  1305,
  '충남',
  974,
  312,
  15,
  2,
  '61.49',
  '2020-12-22 09:38:32.206'),
 (26,
  '2020년 12월 22일 00시',
  15,
  834,
  '충북',
  441,
  378,
  30,
  1,
  '52.14',
  '2020-12-22 09:38:32.206'),
 (27,
  '2020년 12월 22일 00시',
  13,
  999,
  '강원',
  709,
  277,
  23,
  0,
  '64.85',
  '2020-12-22 09:38:32.206'),
 (28,
  '2020년 12월 22일 00시',
  181,
  12152,
  '경기',
  8608,
  3363,
  193,
  13,
  '91.71',
  '2020-12-22 09:38:32.206'),
 (29,
  '2020년 12월 22일 00시',
  0,
  130,
  '세종',
  122,
  8,
  1,
  0,
  '37.98',
  '2020-12-22 09:38:32.205'),
 (30,
  '2020년 12월 22일 00시',
  17,
  568,
  '울산',
  299,
  252,
  6,
  0,
  '49.52',
  '2020-12-22 09:38:32.205'),
 (31,
  '2020년 12월 22일 00시',
  6,
  708,
  '대전',
  577,
  125,
  9,
  0,
  '48.03',
  '2020-12-22 09:38:32.205'),
 (32,
  '2020년 12월 22일 00시',
  3,
  905,
  '광주',
  755,
  147,
  26,
  0,
  '62.13',
  '2020-12-22 09:38:32.205'),
 (33,
  '2020년 12월 22일 00시',
  19,
  2381,
  '인천',
  1617,
  745,
  44,
  1,
  '80.54',
  '2020-12-22 09:38:32.205'),
 (34,
  '2020년 12월 22일 00시',
  200,
  7557,
  '대구',
  7098,
  259,
  39,
  0,
  '310.16',
  '2020-12-22 09:38:32.205'),
 (35,
  '2020년 12월 22일 00시',
  28,
  1539,
  '부산',
  1039,
  472,
  26,
  0,
  '45.11',
  '2020-12-22 09:38:32.204'),
 (36,
  '2020년 12월 22일 00시',
  144,
  15356,
  '서울',
  8562,
  6650,
  309,
  8,
  '157.76',
  '2020-12-22 09:38:32.204'),
 (37,
  '2020년 12월 22일 00시',
  722,
  51460,
  '합계',
  35928,
  14810,
  824,
  45,
  '99.25',
  '2020-12-22 09:38:32.204')]

In [9]:
datetime.now().strftime('%Y년 %m월 %d일 00시')

'2020년 12월 23일 00시'

In [3]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    275 non-null    object
 1   서울      275 non-null    int64
 2   부산      275 non-null    int64
 3   대구      275 non-null    int64
 4   인천      275 non-null    int64
 5   대전      275 non-null    int64
 6   광주      275 non-null    int64
 7   울산      275 non-null    int64
 8   세종      275 non-null    int64
 9   경기      275 non-null    int64
 10  강원      275 non-null    int64
 11  충북      275 non-null    int64
 12  충남      275 non-null    int64
 13  경북      275 non-null    int64
 14  경남      275 non-null    int64
 15  전북      275 non-null    int64
 16  전남      275 non-null    int64
 17  제주      275 non-null    int64
 18  합계      275 non-null    int64
dtypes: int64(18), object(1)
memory usage: 40.9+ KB

In [11]:
conn = sqlite3.connect('test.db')
cur = conn.cursor()

In [12]:
create_sql = '''create table daily (
  ilja text not null primary key,
  seoul int default 0, busan int default 0, daegu int default 0,
  incheon int default 0, daejeon int default 0, gwangju int default 0,
  ulsan int default 0, sejong int default 0, gyeonggi int default 0,
  gangwon int default 0, chungbuk int default 0, chungnam int default 0,
  gyeongbuk int default 0, gyeongnam int default 0, jeonbuk int default 0,
  jeonnam int default 0, jeju int default 0, 
  gye int default 0);'''

In [14]:
try:
    cur.execute(create_sql)
except:
    print('exist')
conn.commit()

exist

In [15]:
insert_sql = 'insert into daily values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);'

In [16]:
for i in range(len(covid)):
    params = [covid.iloc[i,0]]
    for k in range(1,19):
        params.append(int(covid.iloc[i,k]))
    cur.execute(insert_sql, params)
    conn.commit()

IntegrityError: UNIQUE constraint failed: daily.ilja

In [9]:
cur.close()
conn.close()

In [5]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [6]:
key_fd = open('../../static/data/corona_key.txt', mode='r')
covid_key = key_fd.read(200)
key_fd.close()

In [13]:
start_date = '20200302'
end_date = datetime.datetime.now().strftime('%Y%m%d')
page = 1

In [15]:
end_date

'20201222'

In [27]:
def change_date(x):
    y = x.split(' ')
    month = y[1][:-1] if len(y[1][:-1]) == 2 else '0'+y[1][:-1]
    day = y[2][:-1] if len(y[2][:-1]) == 2 else '0'+y[2][:-1]
    return f'{y[0][:-1]}-{month}-{day}'

In [16]:
corona_url = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19SidoInfStateJson'
url = f'{corona_url}?ServiceKey={covid_key}&pageNo={page}&numOfRows=10&startCreateDt={start_date}&endCreateDt={end_date}'

In [17]:
result = requests.get(url)
soup = BeautifulSoup(result.text, 'xml')
resultCode = soup.find('resultCode').get_text()
if resultCode == '00':
    print(soup.find('totalCount').string)
elif resultCode == '99':
    print(soup.find('resultMsg').string)

5785

In [18]:
createDt_list,deathCnt_list,defCnt_list,gubun_list,incDec_list = [],[],[],[],[]
isolClearCnt_list,isolIngCnt_list,localOccCnt_list,overFlowCnt_list = [],[],[],[]
qurRate_list,seq_list,stdDay_list,updateDt_list = [],[],[],[]
items = soup.find_all('item')
for item in items:
    createDt_list.append(item.find('createDt').string if item.find('createDt') else '')
    deathCnt_list.append(item.find('deathCnt').string if item.find('deathCnt') else '')
    defCnt_list.append(item.find('defCnt').string if item.find('defCnt') else '')
    gubun_list.append(item.find('gubun').string if item.find('gubun') else '')
    incDec_list.append(item.find('incDec').string if item.find('incDec') else '')
    isolClearCnt_list.append(item.find('isolClearCnt').string if item.find('isolClearCnt') else '')
    isolIngCnt_list.append(item.find('isolIngCnt').string if item.find('isolIngCnt') else '')
    localOccCnt_list.append(item.find('localOccCnt').string if item.find('localOccCnt') else '')
    overFlowCnt_list.append(item.find('overFlowCnt').string if item.find('overFlowCnt') else '')
    qurRate_list.append(item.find('qurRate').string if item.find('qurRate') else '')
    seq_list.append(item.find('seq_list').string if item.find('seq_list') else '')
    stdDay_list.append(change_date(item.find('stdDay').string if item.find('stdDay') else ''))
    updateDt_list.append(item.find('updateDt').string if item.find('updateDt') else '')

df = pd.DataFrame({
    'createDt':createDt_list, 'deathCnt':deathCnt_list, 'defCnt':defCnt_list,
    'gubun':gubun_list, 'incDec':incDec_list, 'isolClearCnt':isolClearCnt_list, 
    'isolIngCnt':isolIngCnt_list, 'localOccCnt':localOccCnt_list,'overFlowCnt':overFlowCnt_list,
    'qurRate':qurRate_list, 'seq':seq_list, 'stdDay':stdDay_list, 'updateDt':updateDt_list
})
df

,등록시간,사망자,확진자,광역시도,전일대비,격리해제,격리중,지역발생,해외유입,10만명당,ID,기준시간,수정시간
0,2020-12-22 14:41:34.444,1,2361,검역,18,1658,702,0,18,-,,2020년 12월 22일 00시,null
1,2020-12-22 14:41:34.444,0,271,제주,19,103,168,19,0,40.40,,2020년 12월 22일 00시,null
2,2020-12-22 14:41:34.443,3,1095,경남,18,768,324,18,0,32.58,,2020년 12월 22일 00시,null
3,2020-12-22 14:41:34.443,61,2094,경북,59,1721,312,58,1,78.65,,2020년 12월 22일 00시,null
4,2020-12-22 14:41:34.443,5,513,전남,5,425,83,4,1,27.51,,2020년 12월 22일 00시,null
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5780,2020-03-02 19:27:57.57,0,,인천,0,,,,,None,,2020년 3월 1일 16시,None
5781,2020-03-02 19:27:57.57,9,,대구,469,,,,,None,,2020년 3월 1일 16시,None
5782,2020-03-02 19:27:57.57,0,,부산,3,,,,,None,,2020년 3월 1일 16시,None
5783,2020-03-02 19:27:57.57,0,,서울,10,,,,,None,,2020년 3월 1일 16시,None
5784,2020-03-02 19:27:57.57,18,,합계,586,,,,,None,,2020년 3월 1일 16시,None

In [19]:
df_result = df[['기준시간', '사망자', '확진자', '광역시도', '격리해제', '격리중', '지역발생', '해외유입', '10만명당','등록시간']]
df_result.replace('',0)

,기준시간,사망자,확진자,광역시도,격리해제,격리중,지역발생,해외유입,10만명당,등록시간
0,2020년 12월 22일 00시,1,2361,검역,1658,702,0,18,-,2020-12-22 14:41:34.444
1,2020년 12월 22일 00시,0,271,제주,103,168,19,0,40.40,2020-12-22 14:41:34.444
2,2020년 12월 22일 00시,3,1095,경남,768,324,18,0,32.58,2020-12-22 14:41:34.443
3,2020년 12월 22일 00시,61,2094,경북,1721,312,58,1,78.65,2020-12-22 14:41:34.443
4,2020년 12월 22일 00시,5,513,전남,425,83,4,1,27.51,2020-12-22 14:41:34.443
...,...,...,...,...,...,...,...,...,...,...
5780,2020년 3월 1일 16시,0,0,인천,0,0,0,0,None,2020-03-02 19:27:57.57
5781,2020년 3월 1일 16시,9,0,대구,0,0,0,0,None,2020-03-02 19:27:57.57
5782,2020년 3월 1일 16시,0,0,부산,0,0,0,0,None,2020-03-02 19:27:57.57
5783,2020년 3월 1일 16시,0,0,서울,0,0,0,0,None,2020-03-02 19:27:57.57
5784,2020년 3월 1일 16시,18,0,합계,0,0,0,0,None,2020-03-02 19:27:57.57

In [20]:
df = df.replace('',0).astype(int)

1        252
2       1077
3       2035
4        508
5        688
        ...
5741       0
5742       0
5743       0
5744       0
5745       0
Name: 확진자, Length: 5151, dtype: int32

In [21]:
conn = sqlite3.connect('test.db')
df_result.to_sql('regeon',conn,if_exists='replace')
conn.close()

In [22]:
conn.close()

In [123]:
create_sql = '''create table daily (
  standard_Time text, death int default 0, confirmed_patient int default 0,
  sido text, quarantine_release int default 0,
  Quarantine int default 0, Local occurrence int default 0, gyeonggi int default 0,
  gangwon int default 0, chungbuk int default 0, chungnam int default 0,
  gyeongbuk int default 0, gyeongnam int default 0, jeonbuk int default 0,
  jeonnam int default 0, jeju int default 0, 
  gye int default 0);'''
conn = sqlite3.connect('test.db')
cur = conn.cursor()
cur.execute(create_sql)
conn.commit()
conn.close()

,기준시간,사망자,확진자,광역시도,격리해제,격리중,지역발생,해외유입,10만명당,등록시간
1,2020년 12월 21일 00시,0,252,제주,102,150,23,0,18.93,2020-12-21 09:35:38.526
2,2020년 12월 21일 00시,3,1077,경남,748,326,15,0,26.36,2020-12-21 09:35:38.525
3,2020년 12월 21일 00시,61,2035,경북,1715,259,48,0,70.05,2020-12-21 09:35:38.525
4,2020년 12월 21일 00시,5,508,전남,418,85,8,1,25.79,2020-12-21 09:35:38.525
5,2020년 12월 21일 00시,7,688,전북,441,240,11,2,28.67,2020-12-21 09:35:38.525
...,...,...,...,...,...,...,...,...,...,...
5741,2020년 3월 1일 16시,0,,광주,,,,,None,2020-03-02 19:27:57.57
5742,2020년 3월 1일 16시,0,,인천,,,,,None,2020-03-02 19:27:57.57
5743,2020년 3월 1일 16시,9,,대구,,,,,None,2020-03-02 19:27:57.57
5744,2020년 3월 1일 16시,0,,부산,,,,,None,2020-03-02 19:27:57.57
5745,2020년 3월 1일 16시,0,,서울,,,,,None,2020-03-02 19:27:57.57

In [ ]:
df_result[]

In [104]:
df_result['등록시간'] = df_result['등록시간'].apply(pd.to_datetime).dt.date

In [110]:
df_result['등록시간']

1       2020-12-21
2       2020-12-21
3       2020-12-21
4       2020-12-21
5       2020-12-21
           ...
5741    2020-03-02
5742    2020-03-02
5743    2020-03-02
5744    2020-03-02
5745    2020-03-02
Name: 등록시간, Length: 5151, dtype: object

In [101]:
str(df_result['등록시간'].apply(pd.to_datetime).dt.date.iloc[0]) == datetime.datetime.now().strftime('%Y-%m-%d')

True

In [4]:
datetime.datetime.now().strftime('%Y%m%d')

str

In [82]:
df_result['등록시간'] == str(datetime.datetime.now().strftime('%Y-%m-%d'))

1       2020-12-21 09:35:38.526
2       2020-12-21 09:35:38.525
3       2020-12-21 09:35:38.525
4       2020-12-21 09:35:38.525
5       2020-12-21 09:35:38.525
                 ...
5741     2020-03-02 19:27:57.57
5742     2020-03-02 19:27:57.57
5743     2020-03-02 19:27:57.57
5744     2020-03-02 19:27:57.57
5745     2020-03-02 19:27:57.57
Name: 등록시간, Length: 5151, dtype: object

In [103]:
df_result.loc['확진자']

기준시간            2020년 3월 1일 16시
사망자                           0
확진자
광역시도                         서울
격리해제
격리중
지역발생
해외유입
10만명당                      None
등록시간     2020-03-02 19:27:57.57
Name: 5745, dtype: object